<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Vue-dischi</title>
  </head>
    <body>
      <div id="root">
        <header>
          <img src="img/spotify-logo.png" />
        </header>
          <div id="select">
            <select v-model="selectedGenre">
             <option value="">All</option>
              <option v-for="genre in genres" :value="genre">{{genre}}</option>
            </select>
          </div>
        <main id="albums-container">
          <div class="album" v-for="album in albums"
          v-if="selectedGenre == album.genre || selectedGenre == ''">
            <img :src="album.poster" :alt="album.title">
            <div id="title-author">
            <h4>{{ album.title }}</h4>
            <span>{{ album.author}}</span>
            </div>
            <small>{{album.year}}</small>
          </div>
        </main>
      </div>
      <script src="js/script.js" charset="utf-8"></script>
    </body>
</html>
